@use '../index.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2%;
  background-color: hsla(259, 100%, 50%, 1);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(11, 100%, 74%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(336, 100%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(142, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(127, 100%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(169, 100%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(29, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(130, 100%, 76%, 1) 0px, transparent 50%);

  .logo {
    margin-top: 30px;
    width: 10%;
  }
  .title {
    @include bold(30px, Roboto, 26px);
    color: $white;
    margin: 0;
    margin-top: 10px;
  }
  .address {
    @include bold(18px, Roboto, 16px);
    color: $white;
    margin-top: 20px;
  }
}
